$white:hsl(0, 0%, 100%);
$paleblue: hsl(225, 100%, 94%);
$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$brightblue: hsl(245, 75%, 52%);
$darkblue: hsl(223, 47%, 23%);
$lightblue:hsl(244, 82%, 68%);